<!-- Validation failure messages -->
<% if @article.errors.any? %>
  <% @article.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Article</h3>
</div>

<div class="row">
  <div class="col-md-12">

    <form action="/create_article" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">



      <!-- Label and input for category_id -->

      <div class="form-group">
        <label for="category_id" class="control-label">
          Category
        </label>

        <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :name, @article.category_id), :class => "form-control") %>

      </div>


      <!-- Label and input for title -->

      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>


        <input type="text" id="title" name="title" placeholder="The Anatomy of a Large-Scale Hypertextual Web Search Engine" class="form-control" value="<%= @article.title %>">

      </div>

      <!-- Label and input for abstract -->

      <div class="form-group">
        <label for="abstract" class="control-label">
          Summary
        </label>


        <textarea id="abstract" name="abstract" placeholder="In this paper, Sergey Brin and Lawrence Page present Google, a prototype of a large-scale search engine which makes heavy use of the structure present in hypertext. Google is designed to crawl and index the Web efficiently and produce much more satisfying search results than existing systems." class="form-control" rows="3"><%= @article.abstract %></textarea>

      </div>

      <!-- Label and input for link -->

      <div class="form-group">
        <label for="link" class="control-label">
          Link
        </label>


        <input type="text" id="link" name="link" placeholder="http://infolab.stanford.edu/~backrub/google.html" class="form-control" value="<%= @article.link %>">

      </div>

      <button class="btn btn-success">
        Add Topic Tags >>
      </button>
      or
      <a href="/articles">Cancel</a>

    </form>

  </div>
</div>
