<div class="page-header text-center">
  <h4><a href="<%= @article.link %>"><%= @article.title %></a></h4>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt class="hidden">Category</dt>
      <dd class="hidden"><%= @article.category_id %></dd>

      <dt>Summary</dt>
      <dd><%= @article.abstract %></dd>

      <dt>Topics</dt>
      <dd>
          <% @article.topics.each do |topic| %>
          <li class="list-unstyled">
            <a href="/topics/<%= topic.id %>"><%= topic.name %></a>
          </li>
            <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">

      <a href="/articles" class="btn btn-primary">
        << Back
      </a>
      <a href="/articles/<%= @article.id %>/edit" class="btn btn-warning"><i class="fa fa-edit"></i>
        Edit
      </a>
      <a href="/delete_article/<%= @article.id %>" class="btn btn-danger" rel="nofollow"><i class="fa fa-trash-o"></i>
        Delete
      </a>

    </div>
  </div>
</div>
