<!-- Validation failure messages -->
<% if @tagging.errors.any? %>
<% @tagging.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header col-md-6 col-md-offset-3">
  <h5>Add a topic to <i>"<%= @article.title %>"</i></h5>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <% @article.taggings.each do |tagging| %>
    <div class="btn-group" role="group">
      <form action="/delete_tagging/<%= tagging.id %>" method="get">

        <button class="btn btn-info">
          <i class="fa fa-times" aria-hidden="true"></i> <%= Topic.find_by({ :id => tagging.topic_id }).name %>
        </button>

      </form>
    </div>
    <% end %>

    <form action="/create_tagging" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">



      <!-- Label and input for article_id -->

      <div class="form-group">

        <input type="hidden" id="article_id" name="article_id" placeholder="Article" class="form-control" value="<%= @article.id %>">

        <!-- <%= select_tag(:article_id, options_from_collection_for_select(Article.all, :id, :title, @article.id), :class => "form-control") %> -->

      </div>



      <!-- Label and input for topic_id -->

      <div class="form-group">
        <label for="topic_id" class="control-label">
          Select New Topic
        </label>

        <!-- <input type="text" id="topic_id" name="topic_id" placeholder="Topic" class="form-control" value="<%= @tagging.topic_id %>"> -->

        <%= select_tag(:topic_id, options_from_collection_for_select(Topic.all, :id, :name, @tagging.topic_id), :class => "form-control") %>

      </div>



      <button class="btn btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i> Add Topic
      </button>



    </form>
    or create new topic

    <div class="media-body">
      <form action="/create_topic" method="post">
        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

        <!-- Label and input for body -->
        <div class="form-group">
          <label for="name" class="sr-only">
            Name
          </label>

          <input type="text" id="name" name="name" placeholder="Add a topic name and hit [ENTER]..." class="form-control" required>
        </div>
      </form>
    </div>
  </div>
  <div style="margin-top: 30px" class="col-md-6 col-md-offset-3">
      <a href="/articles" class="btn btn-success btn-block">
            <i class="fa fa-file-text"></i> Create Article
          </a>
  </div>
</div>
